body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.game-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.game {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
}

.game img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.game h2 {
    text-align: center;
    margin: 10px 0;
}

.game p {
    padding: 0 10px;
    text-align: center;
}

.game a {
    display: block;
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
}

.game a:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}